$text-color:                                #fff;
$text-secondary:                            #ff0059;
$text-terciary:                             #212529;

$bg-color:                                  #fff;
$bg-secondary:                              #ff0059;
$bg-secondary-dark:                         #b90444;

$carrousel-background:                      #efefef;
$carrousel-button-color:                    #bebebe;
$carrousel-button-color-active:             #171717;

$navbar-background:                         #171717;
